<div class="col-md-12">
  <div class="card" style='position:absolute;margin-top: -25px;'>
    <div class="card-status card-status-left bg-blue"></div>
    <div class="card-body">
    </div>
  </div>
</div>
